<section id='sidebar'>
  <i class='icon-align-justify icon-large' id='toggle'></i>
  <ul id='dock'>
    <li class='launcher' routerLinkActive="active">
      <i class='fa fa-laptop'></i>
      <a routerLink="/">Principal</a>
    </li>
    <li class='launcher dropdown hover' routerLinkActive="active">
      <i class='fa fa-users'></i>
      <a>Beneficiarios</a>
      <ul class='dropdown-menu'>
        <li class='dropdown-header'>Acciones Beneficiarios</li>
        <li routerLinkActive="active">
          <a routerLink="/register-beneficiario">
            <i class='fa fa-plus-circle'></i> Registrar Beneficiario</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/list-beneficiarios">
            <i class='fa fa-list'></i> Listar Beneficiario</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/habilitar-beneficiarios">
            <i class='fa fa-file-excel-o'></i> Habilitar Beneficiarios</a>
        </li>
      </ul>
    </li>
    <li class='launcher dropdown hover' routerLinkActive="active">
      <i class='fa fa-clipboard'></i>
      <a>Boleta</a>
      <ul class='dropdown-menu'>
        <li class='dropdown-header'>Boletas de pago</li>
        <li routerLinkActive="active">
          <a routerLink="/emitir-boleta">
            <i class='fa fa-plus-circle'></i> Emitir</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/buscar-boleta">
            <i class='fa fa-search'></i> Buscar</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/eliminar-boleta" >
            <i class='fa fa-minus-circle'></i> Dar de baja</a>
        </li>
      </ul>
    </li>
    <li class='launcher'>
      <i class='fa fa-database'></i>
      <a href="dashboard.html">Reportes</a>
    </li>

    <li class='launcher dropdown hover'>
      <i class='fa fa-user-circle-o'></i>
      <a>Usuarios</a>
      <ul class='dropdown-menu'>
        <li class='dropdown-header'>Acciones Usuarios</li>
        <li>
          <a>
            <i class='fa fa-plus-circle'></i> Registrar Usuario</a>
        </li>
        <li>
          <a>
            <i class='fa fa-minus-circle'></i> Listar Usuarios</a>
        </li>
      </ul>
    </li>

  </ul>
  <div data-toggle='tooltip' id='beaker' title='Copyright © 2018 SMSC DMTU. Todos los derchos reservados.'></div>
</section>